AddDefaultCharset utf-8

RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d



#RewriteRule  ^index/(.*)$ index.php?project=$1 [L,QSA]

#RewriteRule  ^index/(.*)$ index.php?all [L,QSA]

#RewriteRule образец цель

RewriteRule  ^project/([(0-9)]+)/page/([(0-9)]+)/([(a-z)]+)$ index.php?project=$1&page=$2&$3 [L,QSA]
RewriteRule  ^project/([(0-9)]+)/([(a-z)]+)$ index.php?project=$1&$2 [L,QSA]
RewriteRule  ^/project/page/([(0-9)]+)/([(a-z)]+)$ index.php?page=$1&$2 [L,QSA]
RewriteRule  ^page/([(0-9)]+)/([(a-z)]+)$ index.php?page=$1&$2 [L,QSA]
RewriteRule  ^([(a-z)]+)/([(a-z)]+)$ index.php?$2 [L,QSA]
RewriteRule  ^([(a-z)]+)$ index.php?$1 [L,QSA]
#RewriteRule ^(.*)$ index.php

